
body{
font-family:Arial;
margin:0;
background:#f2f2f2;
color:#000;
}

.dark{
background:#111;
color:#eee;
}

header{
background:#0d1b34;
color:white;
padding:16px;
display:flex;
align-items:center;
gap:10px;
font-size:22px;
}

header img{
width:40px;
}

.container{
padding:20px;
max-width:420px;
margin:auto;
}

input,select{
width:100%;
padding:12px;
margin-bottom:12px;
border-radius:10px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
background:#2f66d0;
color:white;
border:none;
border-radius:10px;
font-size:16px;
margin-top:6px;
}

#map{
height:260px;
margin:10px 0;
border-radius:12px;
}

#resultado,#historial{
background:white;
padding:14px;
margin-top:10px;
border-radius:10px;
}
